.right-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-container__nav-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
.nav-bar__tabs
{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.today{
    margin-right: 10px;
    color: #c5c5c5;
}
.week{
    color: #c5c5c5;
}
.week-active{
    color: #1a1a1a;
}
.today:hover,
.week:hover{
    color: #1a1a1a;
    cursor: pointer;
}
.today-active{
    color: #1a1a1a;
}

.underline{
    width: 50px;
    height: 1px;
    background-color: #1a1a1a;
    margin-top: 1.3rem;
}
.underline-today{
    transform: translate3d(-210%,0,0);
    transition: 100ms;
}
.underline-week{
    transform: translate3d(-90%,0,0);
    transition: 100ms;
}
.nav-bar__metric{
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
}
.celsius{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 5px;
    color: #1a1a1a;
    background-color: #fff;
    margin-right: 10px;
    font-size: small;
    font-weight: 500;
}
.fahrenheit{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 5px;
    color: #1a1a1a;
    background-color: #fff;
    font-size: small;
    font-weight: 500;
}
.celsius:hover{
    color: #fff;
    background-color: #1a1a1a;
    cursor: pointer;
}
.fahrenheit:hover{
    color: #fff;
    background-color: #1a1a1a;
    cursor: pointer;
}
.celsius-active{
    color: #fff;
    background-color: #1a1a1a;
}
.fahrenheit-active{
    color: #fff;
    background-color: #1a1a1a;
}

.right-container__data-box{
    flex: 12;
}
.profile-image{
    margin-left: 15px;
}
.profile-image>img{
    width: 30px;
    height:40px;
    border-radius: 5px;
}