.left-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.left-container__nav-bar{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.search-icon{
    flex: 2;
    text-align: right;
    margin-right: 5px;
}
.search-input{
    flex: 4;
}
.search-input>input{
    border: none;
     padding: 8px;
     font-size: 11px;
     width: 100%;
     color: #000;
}
.location-icon{
    flex: 2;
    text-align: center;
    margin-top: -2px;
    margin-right:10px ;
}
.location-icon>fa-icon{
    padding: 2px 5px;
    background-color: #f6f6f8;
    border-radius: 50%;
}



.left-container__data-box{
    flex: 12;
    display: flex;
    margin: 0 30px;
    flex-direction: column;

}
.left-container__temp-data{
    flex: 1;
}
.left-container__other-details{
    flex: 1;
}