.app-container{
    width: 100vw;
    height: 100vh;
    background-color: #d6d7da ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.weather-container{
    width: 65vw;
    height: 85vh;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: row;

}
.left-container{
    flex: 3;
}
.right-container{
    flex: 7;
    background-color: #f6f6f8;
}